.settings {
  min-height: 100vh;
  background-color: #22477f;
  font-family: Poppins;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: white;
}

#setting {
  width: 128px;
  height: 128px;
}

.text {
  display: block;
}
