.settings {
  background-color: #22477f;
  color: white;
}

.settings-info {
  min-height: 100vh;
  background-color: #22477f;
  font-family: Poppins;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

#setting {
  width: 128px;
  height: 128px;
}

#backArrow{
  min-width: 100vw;
  display: flex;
  align-items: flex-start;
}

#backArrow img{
  width: 36px;
  padding-top: 4em;
  padding-left: 2em;
}

.text {
  display: block;
}
