.Report {
  padding-top: 5em;
  min-height: 100vh;
  background-color: #22477f;
}

.Report h1 {
  color: #ddd8c6;
  text-align: center;
}

.form-report input {
  background-color: #22477f;
  margin-top: 0.5em;
  margin-bottom: 10px;
  width: 80vw;
  border-radius: 20px;
  padding: 3px;
  padding-left: 10px;
  color: #ddd8c6;
  border: 1px white solid;
}

.form-report form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-report input:active,
.form-report input:focus {
  outline: 0;
}

/* ::placeholder{
  color: #DDD8C6;
  font-weight: 400px;
  opacity: 50%;
} */
