.History {
  min-height: 100vh;
  background-color: #072351;
  font-family: Poppins;
  color: #ddd8c6;
  padding-top: 5em;
}

.container-history {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-history img {
  width: 7em;
}

.container-history h3 {
  margin-top: 0.25em;
  font-size: 1.5em;
}

.container-text-history {
  width: 70vw;
  min-height: calc(fit-content+15px);
  border-radius: 1em;
  background-color: #22477f;
  margin: 0 auto;
}

.text-info-history p {
  margin: 0 0 0 1em;
}

.text-info-history:last-child > hr {
  display: none;
}

.text-info-history:not(:first-child) > .text-top {
  padding: 0;
}

.text-top {
  padding-top: 0.5em;
}

.haritanggal-info {
  display: flex;
}

.haritanggal-info p {
  margin: 0 0 0 1em;
}
