.Home {
  min-height: 100vh;
  padding-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Home img{
  width: 24px;
  cursor: pointer;
}

.popup-maps{
  margin: 5px;
}

.popup-maps h2 {
  margin-top: 0px;
}

.center-text-desc{
  text-align: center;
  /* padding-bottom: ; */
}

.bottom-text-desc{
  margin-bottom: 0;
  font-size: 11px;
}