.editprofile {
  min-height: 100vh;
  background-color: #22477f;
}

.editprofile img:first-child {
  width: 35px;
  padding-left: 10px;
  padding-top: 10px;
}

.editprofile h1 {
  margin-top: 0;
  text-align: center;
  color: #ddd8c6;
}

.editprofile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ddd8c6;
}

#profilepicture {
  width: 120px;
  padding: 0;
}

.editprofile-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ddd8c6;
}

.editprofile-input p {
  margin: 0;
  padding-left: 10px;
  margin-top: 10px;
}

.form-editprofile:focus,
.form-editprofile:active {
  outline: 0;
  color: #ddd8c6;
}

.form-editprofile {
  background-color: #22477f;
  border-radius: 20px;
  width: 70vw;
  padding: 8px;
  margin-top: 5px;
  color: #ddd8c6;
  padding-left: 15px;
  margin-right: 10px;
  border: 1px white solid;
}

.editprofile-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.editbtn {
  width: 70vw;
  background-color: #ddd8c6;
  height: 30px;
  border-radius: 20px;
}

.editbtn p {
  color: #072351;
  text-align: center;
  margin-top: 0;
}
