.LeaderboardData {
  display: flex;
  justify-content: center;
}

.name-container {
  width: 250px;
  height: 30px;
  background-color: #ddd8c6;
  border-radius: 15px;
  margin-bottom: 10px;
}

.leaderboard-info {
  display: flex;
  color: black;
  justify-content: space-around;
}

.leaderboard-info p {
  margin-top: 1px;
  margin-bottom: 0;
}

.active-user{
  background-color: #22477F;
  
}

.active-user p{
  color: #DDD8C6; 
}