.myProfile {
  min-height: 100vh;
  background-color: #22477F;
  font-family: Poppins;
  padding-top: 5em;
}

#backbutton {
  width: 2.25em;
  padding: 0.8em 0.5em 0 0.5em;
}

.container-shape {
  display: flex;
  justify-content: center;
  align-items: center;
}

#circle {
  width: 150px;
  height: 150px;
  background-color: #254b7d;
  border-radius: 50%;
  margin-top: 0.8em;
}

#circle > img {
  width: 100px;
  height: 100px;
  margin: 25px 25px;
  border-radius: 50%;
}

.text-container-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-container-profile > h2 {
  margin: 0.5em 0 0 0;
  color: #ddd8c6;
  font-size: 1.7em;
}

.text-container-profile > p {
  margin: 0;
  color: #ddd8c6;
  font-size: 1.2em;
}

#container-menu-wrapper {
  display: flex;
  flex-direction:column;
  position: absolute;
  bottom: -8%;
  left: 8%;
}

#container-menu-wrapper img {
  width: 2em;
  height: 2em;
}

.menu-wrapper-profile {
  display: flex;
  flex-direction: row;
}

.menu-wrapper-profile > p {
  margin-top: 0.2em;
  padding: 0 1em;
  color: #ddd8c6;
}
